.carouselContainer {
    margin-bottom: 3.5vw;
}

.title {
    font-size: 1.3vw;
    color: #e5e5e5;
    font-weight: 700;
    margin-bottom: 0.5em;
    padding: 0 4%;
}

.trackWrapper {
    position: relative;
}

.track {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    padding: 1vw 4%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.track::-webkit-scrollbar {
    display: none;
}
